/* Nav Bar */

.index-header{
    background-color: $colorFondo;
    padding: 10px 40px;
    height: auto;
}

.desplegable{
    background-color: $colorFondo;

}

.navbar{
    padding: 0%;
    margin: 0%;
}


.logotipo img {
    width: 150px;
    height: auto;
    display: block;
}
