/* Main Botón Contacto */

.btn {
    background-color: $colorFondo;
    outline: #000000;
}

.presupuesto-main img{
height: 400px;
border: none;
filter: brightness(0.6);
}

.presupuesto-main {
    position: relative;
    @extend %flexColumn;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: .375rem;
}

