/* Main formulario */

.form-container{
    background-color: #f5e9e6;
}

.contact-form{
    margin: 0 auto;
    @include widthRelleno(100%, 2rem);
    max-width: 700px;
    @extend %flexColumn;
    gap: 1rem;
}

.form-group {
    width: 100%;
    @extend %flexColumn;
    text-align: center;
}

.form-group label {
    margin-bottom: 0.3rem;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    @include widthRelleno(100%, 0.5rem);
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.contact-form button {
    @include widthRelleno(fit-content, 0.5rem 1rem);
    background-color: #333;
    color: $colorBlanco;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #555;
}